<div id="products" class="container">
    <div class="products">
        {{#if products}}
            {{#each products}}
                    <div class="products_item">
                        <img class="products_item_image" src="{{this.baseurl}}{{this.thumbnail}}" alt="{{this.baseurl}}{{this.thumbnail}}">
                        <div class="products_item_info">
                            <p>{{this.name}}</p>
                            <p>$ {{this.price}}</p>
                        </div>
                    </div>
            {{/each}}
        {{else}}
            <div class="no-products">
                <strong>No hay productos</strong>
                <a href="/">Agrega uno aquí</a>
            </div>
        {{/if}}
    </div>
</div> 